.container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    
  }
  
  .sub-container {
    /* border: 1px solid rgb(176, 4, 4); */
    width: 95%;
    margin-left: 2.5%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .address-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .location-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .address-text {
    flex-grow: 1;
    margin-left: 10px; /* Add margin for some spacing */
  }
  
  .address-title {
    font-weight: bold;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
  }
  
  .address-details {
    font-size: 0.9em;
    color: #666;
  }
  
  .search-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    position: relative; /* Added to enable absolute positioning of the icon */
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px 10px 5px 2.5rem; /* Add padding to make room for the icon */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.search-bar input::placeholder {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 11.72px;
    text-align: left;
    color: rgba(0, 0, 0, 0.33);
}

.search-icon {
    position: absolute;
    left: 10px; /* Adjust the position of the icon */
    color: #666; /* Adjust the color of the icon */
    font-size: 1.3rem;
}

  .service{
   padding-top: 2rem;
   padding-bottom: 2rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 242, 255, 1);
    border-radius: 0.8rem;

  }
  .service-div{
    width: 90px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    gap: 0.4rem;
    /* border: 1px solid black; */
  }
  .service-image{
    width: 4rem;
    height: 4rem;
    background-color: white;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    border-radius: 50%;
  }
  .service-image img{
    width: 3.2rem;
    height: 3.2rem;
  }
  .wrapperrr
{
  width: 100%;
  height: 100%;
    display: flex;
    grid-gap: 0.8rem;
    overflow-x: auto;
    scroll-snap-type: x;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* border: 1px solid red; */
}

.mostBooked{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
  flex: 0 0 80%; 
  height: 100%;
  text-align: left;
}
.mostBooked img{
  width: 100%;
  height: 10rem;
}
.mostBooked span, .cover-description{
  font-family: 'Roboto' sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;

}
.cover-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.covered{
 
  display: flex;
  
  gap: 0.5rem;
  align-items: center;
  flex: 0 0 90%; 
  height: 10rem;
  text-align: left;
  border-radius: 0.4rem;
  /* border: 1px solid black; */
}


.covered img{
  width: 50%;
  height: 100%;
}
.covered section{
  padding-left: 0.5rem;
}
.covered section button{
  background-color:  rgba(141, 158, 43, 1);
  width: 5rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 0;
  color: #ffff;
}
.odd {
  background-color:rgba(250, 220, 192, 0.77);
  
}

.even {
  background-color:  rgba(225, 244, 210, 0.77);
  
}