.container{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.sub-container{
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 2rem;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.new-address{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.25px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-address div{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new-address div span{
    font-family: 'Inter' sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16.94px;
    color:rgba(255, 0, 0, 1);
}

/* line and saved address div */
.line-div {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #000; 
}

.text {
    padding: 0 10px; 
    white-space: nowrap; 
}

.address-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.address
{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
   border: 0.25px solid black;
   border-radius: 0.5rem;
   gap: 0.5rem;

}
.address div:nth-child(1),.address div:nth-child(3){
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 32px; */
}
.address div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.address div:nth-child(2) span{
    font-family: 'Inter'sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    
}