<div class="container">
    <div class="arrow">
        <span class="material-symbols-outlined" (click)="navToBack()" style="font-size: 28px;" >arrow_back</span>
        <div class="help" (click)="navToHelp()">Help?</div>
    </div>
    <div class="sub-container">
        <div class="name">
            <span class="tittle">Bharath reddy</span><br>
            <span>12 Apr 06:30PM</span>
        </div>
        <div class="customer-details">
            <span class="sub-tittle">Customers Details</span>
            <div class="Details">
                <p>
                    <span class="highlight-text">Location</span><br>
                        H.no - 30-7-32/3 Adarsha hills,meerpet, near market,
                        hyderabad
                </p>
                <div class="line"></div><br>
                <div class="time-div">
                    <p>
                        <span class="highlight-text">Job start</span><br>
                        12 Apr 06:30 PM
                    </p>
                    <p>
                        <span class="highlight-text">Job End</span><br>
                        12 Apr 07:30 PM
                    </p>
                </div>
            </div>
        </div>
        <div class="summary">
            <span class="sub-tittle">Summary</span>
            <div class="Details">
                @for (item of noJobs[0].jobs; track $index) {
                   <div class="time-div">
                        <span class="highlight-text">{{item.count}} &nbsp; X &nbsp; {{item.name}}</span>
                        <span class="sub-tittle">&#8377; &nbsp;{{item.amount}}</span>
                    </div>
                    <div class="line"></div>
                    <br>
                }
                <div class="time-div">
                    <p>
                        <span>Others</span><br>
                        <span class="highlight-text">Convenience Fee</span>
                    </p>
                    <p class="sub-tittle">{{noJobs[0].others}}</p>
                </div>
                <div class="line"></div>
                    <br>
                <div class="time-div">
                    <p>
                        <span class="highlight-text">Total value</span><br>
                        <span>commission {{noJobs[0].credit}} credits</span>
                    </p>
                    <p class="sub-tittle">{{noJobs[0].total}}</p>
                </div>
            </div>
        </div>
    </div>
</div>