<!-- <div class="container">
   
    <div class="sub-container">
        <span class="material-symbols-outlined" (click)="navToBack()">
            keyboard_backspace
        </span>
        <div class="profile-pic">
            <img src="assets/demo/IMG_2828.JPG">
        </div>
        <div class="form-div">
            <form [formGroup]="userDetails">
                <label for="name">Name</label><br>
                <input type="text" placeholder="name" id="name" name="name" formControlName="name">
                <br>
                <label for="email">Email</label><br>
                <input type="email" placeholder="name" id="email" name="email" formControlName="email" (input)="emailVerify()">
                <br>
                
                <label for="phone">Phone</label><br>
                <input type="number" placeholder="phone" id="phone" name="phone" formControlName="phone" >
                <br>
                <div class="btn">
                    <button>Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div> -->




<div class="container">
    <div class="sub-container">
        <span class="material-symbols-outlined" (click)="navToBack()">
            keyboard_backspace
        </span>
        <div class="profile-pic" (click)="triggerFileInput()">
            <img [src]="profileImageUrl" alt="Profile Picture">
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        </div>
        <div class="form-div">
            <form [formGroup]="userDetails">
                <label for="name">Name</label><br>
                <input type="text" placeholder="name" id="name" name="name" formControlName="name">
                <br>
                <label for="email">Email</label><br>
                <input type="email" placeholder="email" id="email" name="email" formControlName="email" (input)="emailVerify()">
                <br>
                <label for="phone">Phone</label><br>
                <input type="number" placeholder="phone" id="phone" name="phone" formControlName="phone">
                <br>
                <div class="btn">
                    <button type="submit" (click)="save()">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
