.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: left;
}
.material-symbols-outlined{
    float: left;
}
.sub-container{
    width: 90%;
    
    
}
.profile-pic{
    width:100% ;
   display: flex;
   align-items: center;
   justify-content: center;
   /* border: 1px solid black; */
}
.profile-pic img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
}
.form-div form{
    display: flex;
    flex-direction: column;
   
  
}
label{
    float: left;
    font-family: 'Inter'sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;

}
input{
    width: 100%;
    height: 2rem;
    border-radius: 0.8rem;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 70%;
    height: 3rem;
    background-color: rgba(37, 39, 96, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter'sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 19.36px;
    border-radius: 0.8rem;

}
