<div class="scrollable-tabs-wrapper">
    <button class="scroll-button left" (click)="scrollLeft()">
      
    </button>
    <div class="scrollable-tabs-container" #containerRef>
      <div
        *ngFor="let category of categoryData; let index = index"
        [id]="'tab-' + category._id"
        class="scrollable-tab"
        [class.selected]="selectedCategoryIdLocal === category._id"
        (click)="handleCategoryClick(category._id)"
      >
        <div class="tab-image-container">
          <img
            [src]="'https://coolie1-dev.s3.ap-south-1.amazonaws.com/' + category.imageKey"
            [alt]="category.name"
            class="tab-image"
          />
        </div>
        <p>{{ category.name }}</p>
        <div *ngIf="selectedCategoryIdLocal === category._id" class="dropdown-icon">▼</div>
      </div>
    </div>
    
  </div>


  <div style="width: 100%;">
    <div class="album-container">
      <div *ngFor="let album of albums; let i = index" class="album">
        <h3>{{ album.name }}</h3>
        <div class="video-list">
          <div *ngFor="let video of album.videos; let j = index" class="video-thumbnail">
            <button (click)="selectAlbum(i, j)">
              <img src="assets/thumbnail.jpg" alt="{{ video.title }}">
              <p>{{ video.title }}</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Fullscreen Video Modal -->
    <div *ngIf="currentVideoUrl" class="video-modal">
      <div class="status-bar">
        <div *ngFor="let progress of videoProgress" class="progress-bar">
          <div class="progress" [style.width.%]="progress"></div>
        </div>
      </div>
      <div class="video-wrapper">
        <button (click)="closeVideo()" class="close-button">exit</button>
        <video 
          #videoPlayer 
          [src]="currentVideoUrl" 
          autoplay 
          (click)="onVideoClick($event)" 
          (timeupdate)="onTimeUpdate($event)"
          (ended)="onVideoEnded()">
        </video>
      </div>
    </div>
    
  </div>
  