<!-- 
<div class="fottersss" >
    
    <div class="sub-fotterss" (click)="changeColor('home','home')" [ngClass]="{'active': activeIcon === 'home'}" >
        <i class="material-symbols-outlined">home</i>
        <span >Home</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Services','ongoing')" [ngClass]="{'active': activeIcon === 'Services'}">
        <i class="material-symbols-outlined" >work_history</i>
        <span>Ongoing</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Activity','earnings')" [ngClass]="{'active': activeIcon === 'Activity'}" >
        <i class="material-symbols-outlined" style="width: 20px;">payments</i>
        <span>Earnings</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Account','target')" [ngClass]="{'active': activeIcon === 'Account'}">
        <i class="material-symbols-outlined" >ads_click</i>
        <span>Target</span>
    </div>
  
   
   
    
</div>
<br> -->


<!-- 
<div class="fottersss">
    <div class="sub-fotterss" (click)="changeColor('home', 'home')" [ngClass]="{'active': activeIcon === 'home'}">
      <i class="material-symbols-outlined">home</i>
      <span class="names">Home</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Services', 'ongoing')" [ngClass]="{'active': activeIcon === 'Services'}">
      <i class="material-symbols-outlined">work_history</i>
      <span class="names">Ongoing</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Activity', 'earnings')" [ngClass]="{'active': activeIcon === 'Activity'}">
      <i class="material-symbols-outlined">payments</i>
      <span class="names">Earnings</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Account', 'target')" [ngClass]="{'active': activeIcon === 'Account'}">
      <i class="material-symbols-outlined">ads_click</i>
      <span class="names">Target</span>
    </div>
  </div>
   -->


  <div class="fottersss">
    <div class="sub-fotterss" (click)="changeColor('home', 'home')" [ngClass]="{'active': activeIcon === 'home'}">
      <i class="material-symbols-outlined">home</i> &nbsp;
      <span class="names">Home</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Services', 'mainService')"
      [ngClass]="{'active': activeIcon === 'Services'}">
      <i class="material-symbols-outlined">browse</i>&nbsp;
      <span class="names">Service</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Activity', 'bookingHistory')"
      [ngClass]="{'active': activeIcon === 'Activity'}">
      <i class="material-symbols-outlined">order_approve</i>&nbsp;
      <span class="names">Order History</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Account', 'profile')"
      [ngClass]="{'active': activeIcon === 'Account'}">
      <i class="material-symbols-outlined">person</i>&nbsp;
      <span class="names">Profile</span>
    </div>
  </div>