<div class="container">
    <div>
        <span class="material-symbols-outlined" (click)="navToBack()">
            keyboard_backspace
        </span>
    </div>
    <div>
        <label>Destination Address or Coordinates:</label>
        <input type="text" [(ngModel)]="destinationInput" (input)="fetchSuggestions()"
            placeholder="Enter destination address or coordinates">
        <ul>
            @if (suggestions.length) {
            @for (suggestion of suggestions; track $index) {
            <li (click)="selectSuggestion(suggestion)">{{ suggestion.place_name }}</li>
            }
            }
        </ul>
    </div>
    <div id="map" style="height: 600px;"></div>
</div>