
.address-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
   
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .location-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .address-text {
    flex-grow: 1;
    margin-left: 10px; /* Add margin for some spacing */
  }
  .address{
    display: flex;
    flex-direction: column;
     justify-content: space-between;
     gap: 0.5rem;
  }
  #address-div{
    padding: 0.5rem;
    box-shadow: 0.5px 1px 2px black;
    gap: 1rem;
  }
  #line{
    border: 0;
    width: 100%;
    border-bottom: 0.25px solid black;
  }
  .address-title {
    font-weight: bold;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
  }
  
  .address-details {
    font-size: 0.9em;
    color: #666;
  }
  .new-address{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.25px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-address div{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new-address div span{
    font-family: 'Inter' sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16.94px;
    color:rgba(255, 0, 0, 1);
}

 