<div>
    <div id="mapContainer" style="width: 100%; height: 500px;"></div>
</div>
<div>
    <div>
        <span>Your worker is coming in 2.24</span>
    </div>
    <div class="line">

    </div>
    <div>
        <section>
            <img src="">
        </section>
        <section>
            <span>
                Anil
            </span>
            <span>
                800(5 min away)
            </span>
            <span>
                4.9 (531 reviews)
            </span>

        </section>
    </div>
    <div>
        <span>
            Before Provider start the work
        </span>
        <span>Your Otp Pin</span>
    </div>
    <div>
        <span></span>
    </div>
    <div>
        <span>
            <span class="material-symbols-outlined">
                call
            </span>
            <span class="material-symbols-outlined">
                chat
            </span>
        </span>
        <span>
            <button>Cancel Booking</button>
        </span>
    </div>
</div>