.sub-container{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.coming-div{
    width: 100%;
    margin-top: 1rem;
    
}
.coming{
    
    font-family: 'Poppins' sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 20.85px;
    text-align: center;

}
.profile-div{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.img-div{
    width: 7rem;
    height: 7rem;
}
.img-div img{
    width: 100%;
    height: 100%;
}
.details{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.details span:nth-child(1),.otp-div span:nth-child(2){
    font-family: 'Poppins' sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 18.13px;
    /* color:rgba(160, 160, 160, 1); */
    
}
.details span:nth-child(2), .details span:nth-child(3),
.otp-div span:nth-child(1){
    font-family: 'Poppins' sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 18.13px;
    color:rgba(160, 160, 160, 1);
    
}
.otp-div,.otp{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:1.3rem
}
.line{
    width: 100%;
   margin-top: 1rem;
    border: none;
    border-bottom: 0.1px solid rgba(160, 160, 160, 1);
}
.otp-div span:nth-child(1)
{
font-size: 1.1rem;
}
.otp-div span:nth-child(2){
    font-size: 1.4rem;
}
.otp{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.otp span{
    font-size: 1.2rem;
    color: rgba(160, 160, 160, 1);
    line-height: 1.2rem;
    font-weight: 400;
}
.btns{
    margin-left: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-div{
    display: flex;
    gap: 0.8rem;
}
.icon-div span{
    width: 4rem;
    height: 4rem;
    border: 0.25px solid rgba(254, 196, 0, 1);
    
    border-radius: 50%;
    color: rgba(254, 196, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btns button{
    height: 3rem;
    width: 12rem;
    border: none;
    background-color: rgba(255, 28, 28, 1);
    font-family: 'Poppins' sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 20.85px;
    text-align: center;
    color: #fff;
    border-radius: 0.5rem;
}