.container
{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    text-align: center;
    align-items: center;
}
.sub-container
{
    position: relative;
    top: 10%;

}
.tittle
{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 42px;
}
.info-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
}
.numberss
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 42px;
    margin: 0;
}
.input-div
{
    display: flex;
    justify-content: space-evenly;
}
.input-div input
{
    text-align: center; 
    width: 3rem;
    height: 4rem;
    /* border:none; */
    border-radius: 0.4rem;
    outline: 0;
    border-width: 0 0 3px;
    border-color: rgba(128, 126, 126, 0.5);
    /* border-width: 0 0 0 0; */
    /* box-shadow: 1px 1px 0 1.5px rgba(128, 126, 126, 0.5); */
    font-size: 3rem;
    align-items: center;
}
.resend-div
{
    margin-top: 3rem;
    width: 90%;
    height: 4rem;
    display: grid;
    align-items: center;
    row-gap: 0;
    /* border: 1px solid black; */
}
.resend-div span{
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:black;
}
.resend
{
    float: left;
    /* margin-left: 9%; */
    margin-top: 2%;
}
.resend p
{
    cursor:pointer;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:black;
    
}
.login-btn
{
    height: 3.4rem;
    width: 90%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    border-radius: 4rem;
    border: none;
    background-color: rgba(205, 46, 40, 1);
    position: fixed;
    top: 80%;
    left: 5%;
    
}

@media screen and (min-width: 600px)  {
    .container{
        align-items: center;
        text-align: center;
    }
    .sub-container{
        width: 30%;
        border: 1px solid black;
        position: relative;
        left: 35%;
    }
  }
  