<div class="container">
    <div class="arrow">
        <span class="material-symbols-outlined" (click)="navToBack()" style="font-size: 28px;" >arrow_back</span>&nbsp;
        <span class="tittle"  >Job History</span>
    </div>
    <div class="sub-container">
        <span class="bookingTittle">My Bookings</span>
        <div>
            @for (item of jobs; track $index) {
            
            <div class="section" (click)="selectedJob(item)">    
                    <div>
                       <p> <span class="main-text">{{item.userId.name}}</span></p>
                       <p> 
                            <span class="material-symbols-outlined" style="font-size: 1rem;" (click)="navToBack()"   >account_balance_wallet</span>&nbsp;
                            <span class="text">Job value : {{item.totalAmount}}</span>
                        </p>
                        <p>
                            <span class="material-symbols-outlined" style="font-size: 1rem;"  (click)="navToBack()"  >description</span>&nbsp;
                            <span class="text">Online Payments : {{item.totalAmount}}</span>
                        </p>
                    </div>
                    <div>
                        <span class="main-text">{{item.items[0].selectedTime  }}</span>
                        <br><br>
                        <span class="text">{{item.items[0].selectedDate}}-{{item.items[0].selectedMonth}}</span>
                    </div>
                </div> 
                <br>
               
               
            }
        </div>
    </div>
    <div style="height:5rem;"></div>
</div>

<app-fotter></app-fotter>