<br><br>&nbsp;&nbsp; &nbsp;<span class="material-symbols-outlined" (click)="navBack()">arrow_back</span><br><br>
<div class="container">
  
    <div class="sub-container">
        <div class="profile">
            <div class="image">
                @if(!image){
                    <img src="../assets/icons/profile.png" class="profile-img"> 
                }@else {
                <img [src]="image" class="profile-img"> 
                }
            </div>
            <div class="details">
                <div class="details-div">
                    @if(!userName){
                        <span>Name</span>
                    }@else {
                    <span>{{userName}}</span>  
                    }
                </div> 
            </div>
        </div>
        <br>
        <div class="category">
            @for (item of options; track $index) {
                <br>
            <div >
                <div (click)="navTo(item.name)">
                    <span class="material-symbols-outlined" >{{item.icon}}</span> &nbsp;
                    <span>{{item.name}}</span>
                </div>
                <span class="material-symbols-outlined" (click)="openPolicies(item.name)" >arrow_forward_ios</span>
               
            </div>
            @if (item.name==='Policies') {
                <div *ngIf="showPolicy" class="policy">
                    @for (policy of policies; track $index) {
                        <div class="policy-div">
                            <span>{{policy.name}}</span>
                            <span>+</span>
                        </div>
                    }
                </div>
            }
            <hr>

            }
        </div>
        
        
        
    </div>
    <div style="height:5rem;"></div>
</div>

<app-fotter></app-fotter>