.container{
    width: 100%;
    height: 100vh;
  
  }
  .sub-container{
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 2.5%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .subCategoryVarient-div {
      flex: 2;
      width: 100%;
      /* background-color: #e0e0e0 !important; */
        margin-top: 1rem;
      /* padding: 0.2rem; */
    }
    
    .varient-div {
      width: 100%;
      display: flex;
      flex-direction: column;
     
    }
    .sub-div{
        display: flex;
       
        border-radius: 8px;
        margin-bottom: 1rem;
        padding: 1rem 0.2rem 1rem 0;
        background-color: rgba(255, 251, 251, 1) !important;
        /* border: 0.57px solid rgba(0, 0, 0, 0.1) */
        box-shadow: 1px 2px 4px black;
    }
    .varient-img {
      flex: 0 0 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    
    .varient-img img {
      width: 3rem;
      height: 3rem;
    }
    
    .varient-section {
        width: 70%;
      flex: 1;
      display: flex;
      flex-direction: column;
      /* border: 1px solid black; */
      gap: 1rem;
    }
    
    .name-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    
    .material-symbols-outlined {
      cursor: pointer;
    }
    
    .amount-btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgba(255, 251, 251, 1) !important;
      align-items: center;
      
      /* border-top: 1px solid #e60a0a; */
    }
    
    .price {
      width: max-content;
      font-weight: bold;
    }
 
  .amount{
    height: 3rem;
    width: 100%;
    border: 0.25px solid black;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .time-span{
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18.75px;
  }
  .amount button{
    border: 0;
    background: rgba(205, 46, 40, 1);

    color:  rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 18.75px;
    height: 2.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin: 0 1rem 0 1rem;
  }

  .price-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
 .highlight{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto' sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;

 }

 .text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto' sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

 }