<div class="container">
  <div class="sub-container">
   <div class="address-bar">
      <app-select-address></app-select-address>
      <div class="search-bar" (click)="navToMainService()">
        <i class="bi bi-search search-icon" style="font-size: 1.3rem;"></i>
        <input type="text" placeholder="Search for a service e.g. Air Conditioner, Kitchen etc">
      </div>
  </div>
    <div class="ads">
      <div class="wrapperrr">
        <div *ngFor="let ad of ads" class="wrapperrr-div">
          <img [src]="ad.src">
        </div>
      </div>
    </div>

    <div class="service">
      <span class="service-tittle">Services</span>
      <div class="wrapperrr">
        <div *ngFor="let services of service; let i = index" class="service-div" (click)="selectedCategory(services._id,i)">
          <!-- <img [src]="services.image"> -->
           <div class="img-div">
            <img [src]="services.imageKey" alt="{{services.name}}">
           
          </div>
           
          <span>{{services.name}}</span>
        </div>
      </div>
      <button (click)="navToMainService()">View More</button>
    </div>

    <div  class="cover-container">
      <span>
        <span class="small-tittle">Most Booked </span> <span class="bigTittle">Services</span>
      </span>
      <div class="wrapperrr">
        <div *ngFor="let services of mostBooked" class="mostBooked">
          <img [src]="services.image">
          <span>{{services.name}}</span>
          <span>Rs.{{services.price}}</span>
        </div>
      </div>
    </div>

    <div class="cover-container">
      <span>
        <span class="bigTittle">Coolie No1 </span> <span class="small-tittle" >Covered for you</span>
      </span>
      <div class="wrapperrr">
        
        <div *ngFor="let cover of covered; let i = index" [ngClass]="{'odd': i % 2 !== 0, 'even': i % 2 === 0}" class="covered">
         
          <section>
            <span class="cover-tittle">{{cover.tittle}}</span>
            <p class="cover-description">{{cover.description}}</p>
            <button>Book</button>
          </section>
          <img [src]="cover.image">
        </div>
        
      </div>
    </div>


    <!-- <div class="refer">
        <span class="bigTittle">Get Extra</span>
        <div>
          <img src="assets/demo/referFrnd.png">
        </div>
    </div> -->
  </div>
  <div style="height:5rem;"></div>
</div>

<app-fotter></app-fotter>