<div class="container">
    <div class="img-div">
        <img src="assets/icons/logo.png">
    </div>
    <div class="content">
        <span class="highlight">Thank you for Choosing US!!!</span>
        <span class="material-symbols-outlined" style="font-size: 2rem;">
            task_alt
        </span>
        <span class="highlight">Your Payment has been successfull</span>
        <span class="normal-text">Transaction Number: 1234567890</span>
        <img src="assets/demo/smart.png">
        <span class="normal-text">You will get shortly Message / Email / Call</span>
        <u><a (click)="navTo()">Go to Home</a></u>
    </div>
</div>